{
    font-family: Arial, Helvetica, sams-serif;
    font-size: 16px;
}

body {
    background-color: rgb(72, 155, 228);

}

main{
    background-color: aliceblue
    width: 580px;
    margin: auto;
    packing: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,473);
}